<a class="flex h-full cursor-pointer flex-col gap-1.5 rounded-[18px] bg-white p-3.75
         max-sm:flex-row max-sm:max-h-36 max-sm:px-2.5 max-sm:py-2.75" [routerLink]="'/m/' + companyId()">
    <div class="relative h-44.75 w-full max-sm:max-w-46.25 max-sm:h-full">
        @if (companyImage()) {
        <img class="h-44.75 w-full rounded-2xl border border-[#D0D0D0] object-cover" loading="lazy" [src]="`${imageUrl}/${companyImage().file_name}`"
            [alt]="companyTitle()" />
        }

        <!-- @if (imageLoading()) {
        <div class="absolute inset-0 z-[1001]">
            <mk-skeleton class="h-full w-full"></mk-skeleton>
        </div>
        } -->
        <!-- } @else {
        <img class="h-full w-full rounded-2xl border border-[#D0D0D0] object-cover" loading="lazy"
            [src]="imageBaseUrl + '/assets/card.jpg'" [alt]="cardTitle()" />
        } -->

        @if (!companyOwn()) {
        <div class="absolute left-2 top-2 flex h-6 w-6 items-center justify-center rounded-full"
            (click)="scheduleClick($event)" [ngClass]="{ 'bg-[#00D7AC]': isWorking(), 'bg-[#FFDC3F]': atLunch(), 'bg-[#FF8282]': isClosed() }" 
            [mkTooltip]="workingStatusLabel">
            <i class="pi pi-clock text-white text-sm"></i>
        </div>
        } @else {
        <div class="absolute right-2 top-2">
            <div class="relative flex cursor-pointer justify-end" (click)="eventsClick($event)">
                <i (click)="showMenu.set(!showMenu())" class="pi pi-ellipsis-v bg-white p-1.5 rounded-full duration-200"></i>

                <ul (mkClickOutside)="showMenu.set(false)" class="absolute right-0 top-7.5 z-100 flex w-max flex-col rounded-2xl overflow-auto bg-(--body-bg-color) shadow-xl"
                    [class.hidden]="!showMenu()">
                    <li class="cursor-pointer px-3.25 py-2.5 font-semibold text-(--text-color) hover:bg-white/30 duration-200" [routerLink]="'/m/' + companyId()"
                        (click)="eventsClick($event)">
                        Просмотр
                    </li>

                    <li class="cursor-pointer border-y border-white px-3.25 py-2.5 font-semibold text-(--text-color) hover:bg-white/30 duration-200" [routerLink]="`/u/a-c/${companyId()}`" (click)="eventsClick($event)">
                        Редактирование
                    </li>

                    <li class="cursor-pointer px-3.25 py-2.5 font-semibold text-(--text-color) hover:bg-white/30 duration-200" (click)="updateCompanyStatus(); eventsClick($event)">
                        {{ companyStatus() ? 'Скрыть' : 'Показать' }}
                    </li>
                    
                </ul>
            </div>
        </div>
        }
    </div>

    <div class="flex h-full w-full flex-col justify-between gap-3 max-sm:gap-1.5">
        <div class="flex flex-col gap-1.5">
            <h3 class="line-clamp-2 text-[24px] font-bold text-(--bg-color) max-sm:text-[20px]">
                {{ companyTitle() }}
            </h3>

            <div class="flex flex-wrap gap-1.5 overflow-hidden"
                [ngClass]="companyTitle()?.length <= 12 ? 'max-h-14' : companyTitle()?.length <= 15 ? 'max-h-14' : 'max-h-6.25'">
                @for (tag of companyTags(); track $index) {
                <div
                    class="max-h-6.25 flex justify-center items-center rounded-xl bg-[#F0F0F0CC] px-2.5 py-1.25 text-[13px]">
                    <span class="line-clamp-1">
                        {{ tag.tag_name }}
                    </span>
                </div>
                }
            </div>
        </div>

        <div class="flex justify-between">
            @if (favoritesCount() >= 0) {
            <div class="flex items-center gap-1.25" (click)="eventsClick($event); toggleFavoriteCard()">
                <i [class]="isFavorite() ? 'pi pi-heart-fill' : 'pi pi-heart'" class="text-[#FF7676] text-xl"></i>
                <span class="text-[18px] text-[#FF7676]">
                    {{ favoritesCount() }}
                </span>
            </div>
            }
        </div>
    </div>
</a>