<div class="border border-x-0 border-(--text-color)/40 w-full py-2 mb-5">
    <p class="text-center text-5xl text-(--text-color) font-bold leading-[normal]">{{company()?.name}}</p>
</div>
<div class="flex gap-5">
    <div class="max-w-70 w-full">
        <mk-menu [currentPage]="{name: 'Информация', icon: 'pi pi-exclamation-circle'}"></mk-menu>
    </div>
    <div class="max-w-145 w-full">
        <div class="flex flex-col gap-4">

            <div class="flex items-center gap-1.25 h-12.5 pl-2.5">
                <i class="pi pi-exclamation-circle text-[27px]"></i>
                <h1 class="text-[28px] text-(--text-color) font-semibold m-0">
                    Информация
                </h1>
            </div>

            <div class="relative max-h-82.5">
                <img [src]="`${imageUrl}/${mainImagePath()}`" (click)="expandImageToView(mainImagePath())"
                    (wheel)="onMainImageScroll($event)" class="cursor-pointer border border-[#D0D0D0] bg-[#F3F3F3]
                     object-cover max-w-145 w-full h-82.5 rounded-[15px]">

                <div class="absolute top-3 w-full px-2.5 flex justify-between items-center">
                    <div class="flex items-center gap-1 rounded-full p-1.5"
                        [ngClass]="{ 'bg-[#00D7AC]': isWorking(), 'bg-[#FFDC3F]': atLunch(), 'bg-[#FF8282]': isClosed() }">
                        <div class="flex items-center justify-center">
                            <i class="pi pi-clock text-white text-sm"></i>
                        </div>
                        <span class="text-[17px] text-white leading-none">
                            {{workingStatusLabel}}
                        </span>
                    </div>

                    <button (click)="expandImageToView(mainImagePath())" class="flex justify-center items-center bg-white/70 p-2 rounded-[10px]
                       transition-transform duration-300 hover:scale-110 cursor-pointer">
                        <i class="pi pi-expand text-lg"></i>
                    </button>
                </div>
            </div>

            <div class="flex gap-6 overflow-x-auto" (wheel)="onMouseWheel($event)">
                @for (image of company().files; track $index) {
                <img #restImage [src]="`${imageUrl}/${image.file_name}`" class="cursor-pointer border border-[#D0D0D0] bg-[#F3F3F3]
                     object-cover min-w-45 max-w-45 h-25.25
                     rounded-[15px]" (click)="swapMainImage(image.id, $index)">
                } @empty {
                <div class="min-w-45 max-w-45 h-25.25 border border-[#D0D0D0] rounded-[15px]"></div>
                }
            </div>

            <div class="bg-white p-3.75 rounded-[18px]">
                <p class="text-[27px] text-(--text-color) font-semibold my-0">Теги:</p>
                <div class="flex flex-wrap gap-[10px_8px] mt-2.5">
                    @for (tag of company()?.tags; track $index) {
                    <div class="text-[16px] bg-[#F0F0F0CC] rounded-full px-3 py-1.5">
                        {{tag.tag_name}}
                    </div>
                    } @empty {
                    <p class="text-(--text-color) my-0">Пока нет данных</p>
                    }
                </div>
            </div>

            <div class="bg-white p-3.75 rounded-[18px]">
                <p class="text-[27px] text-(--text-color) font-semibold my-0">Контакты:</p>

                <div class="flex flex-wrap gap-6.25 justify-center mt-3">
                    <a [href]="'tel:+992' + company()?.phone_number"
                        class="flex items-center justify-center gap-3 bg-[#5B42FF] text-white font-semibold text-[19px] h-12 max-w-65.5 w-full rounded-2xl">
                        <i class="pi pi-phone"></i>
                        +992 {{ company()?.phone_number | formatPhone }}
                    </a>
                </div>
            </div>

            <div class="bg-white p-3.75 rounded-[18px]">
                <p class="text-[27px] text-(--text-color) font-semibold my-0">Адрес:</p>

                <div class="bg-(--body-bg-color) rounded-2xl mt-4 text-[18px]">
                    <span class="block p-[8px_10px] break-all">
                        {{`${company()?.region_name}, ${company()?.city_name}, ${company()?.address}`}}
                    </span>
                </div>

                <div class="relative mt-4">
                    <img src="/assets/map.svg" class="w-full max-w-137.5">
                    <a [href]="'https://www.google.com/maps?q=' + company()?.latitude + ',' + company()?.longitude"
                        target="_blank" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
                                bg-[#5B42FF] hover:bg-[#4f34fc]
                                text-white text-[19px] font-semibold
                                rounded-2xl w-full max-w-52.5
                                py-3 shadow transition text-center">
                        Показать на карте
                    </a>
                </div>
            </div>

            <div class="bg-white p-3.75 rounded-[18px]">
                <p class="text-[27px] text-(--text-color) font-semibold my-0">
                    График работы:
                </p>

                <div class="flex flex-wrap gap-[14px_35px] mt-4.5">
                    @for (schedule of company()?.schedules; track $index) {
                    <div class="flex justify-between items-center max-w-64.25 w-full">
                        <span>{{schedule?.day_of_week | dayOfWeek}}</span>
                        @if (schedule?.is_day_and_night) {
                        <div
                            class="bg-(--body-bg-color) rounded-lg h-11 w-full max-w-32.5 flex items-center justify-center text-[15px]">
                            Круглосуточно
                        </div>
                        } @else if (!schedule?.is_working_day) {
                        <div
                            class="bg-(--body-bg-color) rounded-lg h-11 w-full max-w-32.5 flex items-center justify-center text-[15px]">
                            Выходной
                        </div>
                        } @else {
                        <div
                            class="bg-(--body-bg-color) rounded-lg h-11 w-full max-w-32.5 flex items-center justify-center text-[15px]">
                            {{schedule?.start_at}} - {{schedule?.end_at}}
                        </div>
                        }
                    </div>
                    }
                    @if (company()?.schedules?.length) {
                    <div class="flex justify-between items-center max-w-64.25 w-full">
                        <span>Обед:</span>
                        @if (company()?.schedules[0]?.without_breaks) {
                        <div class="bg-(--body-bg-color) rounded-lg h-11 w-full max-w-32.5
                                          flex items-center justify-center text-[15px]">
                            Без перерыва
                        </div>
                        } @else {
                        <div class="bg-(--body-bg-color) rounded-lg h-11 w-full max-w-32.5
                                flex items-center justify-center text-[15px]">
                            {{company()?.schedules[0]?.lunch_start_at}}
                            -
                            {{company()?.schedules[0]?.lunch_end_at}}
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>

            <div class="bg-white p-3.75 rounded-[18px] flex flex-col gap-4">
                <p class="text-[27px] text-(--text-color) font-semibold my-0">Социальные сети:</p>
                <div class="flex flex-wrap justify-between gap-5">
                    @for (sm of company()?.social_media; track $index) {
                    <a [href]="`${sm.url}/${sm.account_url}`" target="_blank"
                        class="flex items-center cursor-pointer gap-3 border border-(--body-bg-color) rounded-[18px] p-[12px_16px] max-w-65.25 w-full min-h-11 transition hover:bg-(--body-bg-color)">
                        <img [src]="sm.icon" [alt]="sm.social_media_name" width="19" height="19">
                        <span class="text-black/60 font-medium">
                            {{sm.account_url}}
                        </span>
                    </a>
                    }
                </div>
            </div>

            <div class="bg-white p-3.75 rounded-[18px] flex flex-col gap-5.25">
                <p class="text-[27px] text-(--text-color) font-semibold my-0">Описание:</p>
                <span class="text-[22px] wrap-break-word">
                    {{company()?.desc}}
                </span>
            </div>
        </div>
    </div>
</div>

@if (expandImage()) {
<div (click)="closeExpandedImage()"
    class="w-screen h-screen bg-[#000000de] fixed top-0 left-0 z-9999 flex justify-center items-center">
    <img #expandedImage [src]="expandedImageSrc" alt="expanded-image" class="w-fit h-[98vh] object-contain"
        (click)="$event.stopPropagation(); changeExpandedImage($event)" (wheel)="onExpandedImageScroll($event)">
    <div class="flex justify-center items-center h-7.75 w-7.75 absolute top-2.5 right-2.5 cursor-pointer bg-[#FFFFFFB2] rounded-xl border-0 transition-transform duration-300 hover:scale-110">
        <i class="pi pi-times text-(--text-color)"
            (click)="closeExpandedImage()"></i>
    </div>
</div>
}