<section class="flex gap-5">
  <aside class="max-w-70 w-full flex flex-col gap-5">
    <div class="flex items-center gap-2.5">
      <i class="pi pi-filter text-3xl text-(--text-color)"></i>
      <p class="my-0 font-semibold text-(--text-color) text-[32px]">Фильтры</p>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-lg font-bold">Категории</span>
      <div class="flex flex-col gap-1.5">
        <li class="flex items-center gap-4.25">
          <input (change)="toggleSelectAll($event, 'category_ids')" [checked]="categories().length && filterRequest.category_ids.length === categories().length" type="checkbox" class="custom-checkbox">
          <div class="relative max-w-50 w-full">
            <input [formControl]="categoriesFormControl" type="text" class="max-w-50 h-10! liquid-glass-input">
            <i class="pi pi-search absolute top-1/2 right-4.5 transform -translate-y-1/2 text-(--text-color)"></i>
          </div>
        </li>
        <div class="max-h-70 overflow-auto">
          @for (category of (categories() | slice: 0 : (showAllFilter.companyCategory ? categories().length : 5)); track $index) {
          <mk-filter [id]="category.id" [label]="category.name" [filterRequestType]="'category_ids'"></mk-filter>
          }
        </div>
        @if (categories().length > 5) {
          <div (click)="loadFilterWithoutLimit('company_categories')" class="flex items-center gap-2.5">
            <span class="text-[#4A6FF1] font-medium text-[14px] cursor-pointer w-fit border border-[#CECECE] ml-9.25 px-3.75 py-1 rounded-lg transition duration-300 hover:bg-[#CECECE20]">{{showAllFilter.companyCategory ? 'Скрыть' : 'Показать все'}}</span>
          </div>
        }
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-lg font-bold">Теги</span>
      <div class="flex flex-col gap-1.5">
        <li class="flex items-center gap-4.25">
          <input (change)="toggleSelectAll($event, 'tag_ids')" [checked]="tags().length && filterRequest.tag_ids.length === tags().length" type="checkbox" class="custom-checkbox">
          <div class="relative max-w-50 w-full">
            <input [formControl]="tagsFormControl" type="text" class="max-w-50 h-10! liquid-glass-input">
            <i class="pi pi-search absolute top-1/2 right-4.5 transform -translate-y-1/2 text-(--text-color)"></i>
          </div>
        </li>
        <div class="max-h-70 overflow-auto">
          @for (tag of (tags() | slice : 0 : (showAllFilter.companyTag ? tags().length : 5)); track $index) {
            <mk-filter [id]="tag.id" [label]="tag.name" [filterRequestType]="'tag_ids'"></mk-filter>
            }
        </div>
        @if (tags().length > 5) {
          <div (click)="loadFilterWithoutLimit('company_tags')" class="flex items-center gap-2.5">
            <span class="text-[#4A6FF1] font-medium text-[14px] cursor-pointer w-fit border border-[#CECECE] ml-9.25 px-3.75 py-1 rounded-lg transition duration-300 hover:bg-[#CECECE20]">{{showAllFilter.companyTag ? 'Скрыть' : 'Показать все'}}</span>
          </div>
        }
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-lg font-bold">Регионы</span>
      <div class="flex flex-col gap-1.5">
        <li class="flex items-center gap-4.25">
          <input (change)="toggleSelectAll($event, 'region_ids')" [checked]="regions().length && filterRequest.region_ids.length === regions().length" type="checkbox" class="custom-checkbox">
          <div class="relative max-w-50 w-full">
            <input [formControl]="regionsFormControl" type="text" class="max-w-50 h-10! liquid-glass-input">
            <i class="pi pi-search absolute top-1/2 right-4.5 transform -translate-y-1/2 text-(--text-color)"></i>
          </div>
        </li>
        <div class="max-h-70 overflow-auto">
          @for (region of (regions() | slice : 0 : (showAllFilter.region ? regions().length : 5)); track $index) {
          <mk-filter [id]="region.id" [label]="region.name" [filterRequestType]="'region_ids'"></mk-filter>
          }
        </div>
        @if (regions().length > 5) {
          <div (click)="loadFilterWithoutLimit('regions')" class="flex items-center gap-2.5">
            <span class="text-[#4A6FF1] font-medium text-[14px] cursor-pointer w-fit border border-[#CECECE] ml-9.25 px-3.75 py-1 rounded-lg transition duration-300 hover:bg-[#CECECE20]">{{showAllFilter.region ? 'Скрыть' : 'Показать все'}}</span>
          </div>
        }
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-lg font-bold">Города</span>
      <div class="flex flex-col gap-1.5">
        <li class="flex items-center gap-4.25">
          <input (change)="toggleSelectAll($event, 'city_ids')" [checked]="cities().length && filterRequest.city_ids.length === cities().length" type="checkbox" class="custom-checkbox">
          <div class="relative max-w-50 w-full">
            <input [formControl]="citiesFormControl" type="text" class="max-w-50 h-10! liquid-glass-input">
            <i class="pi pi-search absolute top-1/2 right-4.5 transform -translate-y-1/2 text-(--text-color)"></i>
          </div>
        </li>
        <div class="max-h-70 overflow-auto">
          @for (city of (cities() | slice : 0 : (showAllFilter.city ? cities().length : 5)); track $index) {
          <mk-filter [id]="city.id" [label]="city.name" [filterRequestType]="'city_ids'"></mk-filter>
          }
        </div>
        @if (cities().length > 5) {
          <div (click)="loadFilterWithoutLimit('cities')" class="flex items-center gap-2.5">
            <span class="text-[#4A6FF1] font-medium text-[14px] cursor-pointer w-fit border border-[#CECECE] ml-9.25 px-3.75 py-1 rounded-lg transition duration-300 hover:bg-[#CECECE20]">{{showAllFilter.city ? 'Скрыть' : 'Показать все'}}</span>
          </div>
        }
      </div>
    </div>
  </aside>
  <div class="w-full flex flex-col gap-5">
    <p class="text-[32px] font-semibold m-0 text-(--text-color)">{{filterRequest.is_favorite ? 'Избранные' : 'Результаты поиска'}}</p>
    <div class="flex flex-wrap gap-5">
      @for (company of companiesList(); track $index) {
      <div class="max-w-70 w-full">
        <mk-company-card [companyTitle]="company.name" [companyId]="company.id" [companyTags]="company.tags" [companyFavoritesCount]="company.favorites_count" [companyIsFavorited]="company.is_favorite" [schedule]="company.schedules[0]" [companyImage]="company.files[0]"></mk-company-card>
      </div>
      } @empty {
      <p class="text-[26px] font-medium m-0 text-[#52526190]">К сожалению нет данных</p>
      }
    </div>
  </div>
</section>