<header class="container max-w-295 mx-auto">
    <div class="flex items-center justify-between gap-5 pt-5">
        <div [routerLink]="'/'" class="logo max-w-70 w-full cursor-pointer">
            <img src="/assets/header-logo.svg" alt="logo">
        </div>
        <div (mkClickOutside)="showSearchDropdown.set(false)" class="filter max-w-145 w-full relative">
            <input (focus)="showSearchDropdown.set(true)" [formControl]="searchFormControl" type="text" placeholder="Поиск"
                class="liquid-glass-input">
            <i class="pi pi-search absolute right-3 top-1/2 transform -translate-y-1/2"></i>
            @if (searchFormControl.value && showSearchDropdown()) {
                <ng-container *ngTemplateOutlet="searchFitler"></ng-container>
            }
        </div>
        <div class="profile max-w-70 w-full flex justify-center gap-3">
            <div [routerLink]="token ? '/u' : '/login'" class="flex flex-col items-center gap-px cursor-pointer">
                <i class="pi pi-user text-2xl text-(--text-color)"></i>
                <span class="text-(--text-color) text-sm">Аккаунт</span>
            </div>
            <div [routerLink]="'/m-i/'" [queryParams]="{is_favorite: true}" class="flex flex-col items-center gap-px cursor-pointer">
                <i class="pi pi-heart text-2xl text-(--text-color)"></i>
                <span class="text-(--text-color) text-sm">Избранные</span>
            </div>
        </div>
    </div>
</header>

<ng-template #searchFitler>
    <div class="absolute top-13 bg-white shadow-md max-h-92.5 w-full overflow-y-auto z-10 py-5 rounded-2xl">
        <section class="m-0 flex flex-col gap-2.5">
            @if (searchData().length) {
            <div>
                <div class="gap-3.75 pl-4.5 flex items-center">
                    <i class="pi pi-building text-(--text-color)"></i>
                    <span class="text-(--text-color) font-bold text-[18px]">Предприятия</span>
                </div>
                <ul class="list-none my-0">
                    @for (company of searchData(); track $index) {
                    <li (click)="showSearchDropdown.set(false)" [routerLink]="`/m/${company.id}`" class="flex items-center py-1.5 px-13.75 gap-[.5px] cursor-pointer duration-300 hover:bg-(--body-bg-color)">
                        <label class="text-(--text-color) font-medium w-full cursor-pointer">{{company.name}}</label>
                    </li>
                    }
                </ul>
            </div>
            }
        </section>
    </div>
</ng-template>