<div class="max-w-145 w-full">
    <div class="flex items-center gap-2.5 h-12.5 mb-3.5 max-sm:justify-center">
        <i class="pi pi-user text-[34px] text-(--text-color)"></i>
        <h1 class="text-[28px] font-semibold text-(--text-color) m-0">
            Мой профиль
        </h1>
    </div>

    <div class="w-full px-7.5 py-3.75 rounded-[18px] border-2 border-white">
        <div class="flex justify-center items-center gap-15 max-sm:gap-7.5">
            <div class="w-33.75 h-33.75 rounded-full bg-[#F8F8F8] border border-[#E7E7E7] flex items-center justify-center">
                <i class="pi pi-user text-[70px] text-(--text-color)"></i>
            </div>

            <!-- @if (editing()) {
            <div class="flex flex-col gap-6 max-w-[188px] w-full">
                <button (click)="triggerFileInput()"
                    class="h-10 rounded-lg font-semibold text-white bg-[#6153FF] flex items-center justify-center cursor-pointer">
                    @if (uploadAvatarLoading()) {
                    <span class="spinner"></span>
                    }
                    Загрузить
                    <input type="file" hidden (change)="onFileSelected($event)" />
                </button>

                <button (click)="deleteAvatar()"
                    class="h-10 rounded-lg font-semibold text-(--text-color) bg-white border border-[#E0E0E0] cursor-pointer">
                    @if (deleteAvatarLoading()) {
                    <span class="spinner"></span>
                    }
                    Сбросить
                </button>
            </div>
            } -->
        </div>

        <form [formGroup]="profileForm" class="flex flex-col gap-6.25 mt-6">

            <div class="flex flex-col gap-1.25">
                <label class="text-[20px] font-semibold text-(--text-color)">Имя пользователя</label>
                <input formControlName="username" [readonly]="!editing()" class="liquid-glass-input" />
            </div>

            <div class="flex flex-col gap-1.25">
                <label class="text-[20px] font-semibold text-(--text-color)">Имя</label>
                <input formControlName="first_name" [readonly]="!editing()" class="liquid-glass-input" />
            </div>

            <div class="flex flex-col gap-1.25">
                <label class="text-[20px] font-semibold text-(--text-color)">Фамилия</label>
                <input formControlName="last_name" [readonly]="!editing()" class="liquid-glass-input" />
            </div>

            <div class="flex flex-col gap-1.25">
                <label class="text-[20px] font-semibold text-(--text-color)">Телефон</label>
                <div class="flex items-center gap-3">
                    <div class="liquid-glass-input flex items-center justify-center font-medium w-fit!">
                        +992
                    </div>
                    <input mkPhoneMask formControlName="phone_number" [readonly]="!editing()" placeholder="(XX) XXX-XX-XX"
                        class="liquid-glass-input" />
                </div>
            </div>

            <div class="flex flex-col gap-1.25">
                <label class="text-[20px] font-semibold text-(--text-color)">Пол</label>
                <div class="flex gap-6">
                    <label class="flex items-center liquid-glass-input cursor-pointer">
                        <input type="radio" formControlName="gender_id" [value]="1" class="appearance-none w-5 h-5 rounded-full border-3 border-white mr-2.5 checked:border-[3.5px] checked:border-(--bg-color) duration-200" />
                        Мужской
                    </label>

                    <label class="flex items-center liquid-glass-input cursor-pointer">
                        <input type="radio" formControlName="gender_id" [value]="2" class="appearance-none w-5 h-5 rounded-full border-3 border-white mr-2.5 checked:border-[3.5px] checked:border-(--bg-color) duration-200" />
                        Женский
                    </label>
                </div>
            </div>

            <div class="flex gap-6 max-sm:flex-col">
                <button [disabled]="editing() && profileForm.invalid" type="submit" (click)="editing() ? save() : edit()" (click)="editing.set(true)" class="cursor-pointer h-12.5 w-full rounded-2xl text-[20px] bg-(--bg-color) text-white disabled:bg-(--bg-color)/90 disabled:cursor-not-allowed">
                    {{ editing() ? 'Сохранить' : 'Редактировать' }}
                </button>

                @if (editing()) {
                <button (click)="cancelEdit()" class="cursor-pointer h-12.5 w-full rounded-2xl text-[20px] bg-white">
                    Отменить
                </button>
                }
            </div>
        </form>
    </div>
</div>